# Project 2: Demographic Data Analyzer

In [2]:
import pandas as pd
import numpy as np

In [3]:
# read csv file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

##### 1. How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [6]:
# code to extrat race column using pandas series
r = df['race']
r.unique()    
# count unique values in r 
r.value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

##### 2. What is the average age of men?

In [18]:
# What is the average age of men?
a = df['age']
s = df['sex']
a.head()
s.head()
# calculate average age of men from dataset
average_age_men = a[s == 'Male'].mean()
average_age_men

39.43354749885268

#### 3. What is the percentage of people who have a Bachelor's degree?

In [28]:
# find the persentage of people who have bachelor degree in dataset?

bachelor_counts = df['education'][df['education'] == 'Bachelors'].count()
bachelor_counts

# bachelor_percentage = df['education'] == 'bachelor'.value_counts()
bachelor_percentage = bachelor_counts / len(df['education']) * 100
bachelor_percentage
print(f'bachelor_percentage: {bachelor_percentage} %')

bachelor_percentage: 16.44605509658794 %

#### 4. What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [38]:
advanced_edu = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
# advanced_edu.info() 
# advanced_edu.head()
advanced_edu_rich = advanced_edu[advanced_edu['salary'] == '>50K']

percentage = (advanced_edu_rich.shape[0] / advanced_edu.shape[0]) * 100

print(percentage)

46.535843011613935

#### 5. What percentage of people without advanced education make more than 50K?

In [43]:
Low_edu = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
# advanced_edu.info() 
# advanced_edu.head()
Low_edu_rich = Low_edu[Low_edu['salary'] == '>50K']

percentage = (Low_edu_rich.shape[0] / Low_edu.shape[0]) * 100

print(percentage)

17.3713601914639

#### 6. What is the minimum number of hours a person works per week?

In [53]:
df.head()
hours = df['hours-per-week'].min()
print(f'Minimum hours per week a person works: {hours} hour.')

Minimum hours per week a person works: 1 hour.

#### 7. What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [59]:
min_hours = df['hours-per-week'].min()
min_work_people = df[df['hours-per-week']==min_hours]
min_work_people.head()
min_hours_workers_rich = min_work_people[min_work_people['salary'] == '>50K']

percentage = (min_hours_workers_rich.shape[0] / min_work_people.shape[0]) * 100

print(percentage)

10.0

#### 8. What country has the highest percentage of people that earn >50K and what is that percentage?

In [65]:
# Filter the DataFrame to include only people who earn >50K
rich_people = df[df['salary'] == '>50K']

# Count the number of people who earn >50K for each country
rich_counts = rich_people['native-country'].value_counts()

# Count the total number of people for each country
total_counts = df['native-country'].value_counts()

# Calculate the percentage for each country
percentages = (rich_counts / total_counts) * 100

# Find the country with the highest percentage
highest_country = percentages.idxmax()
highest_percentage = percentages.max()

# Print the country and percentage
print(highest_country, highest_percentage)

Iran 41.86046511627907

#### 9. Identify the most popular occupation for those who earn >50K in India.

In [68]:
occupation = df[df['salary'] == '>50K']

indian_occupation = occupation[occupation['native-country'] == 'India']
most_popular_indian_occupation = indian_occupation['occupation'].value_counts().idxmax()
print(f'most_popular_indian_occupation: {most_popular_indian_occupation}')

most_popular_indian_occupation: Prof-specialty